<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
th, td {border: 1px solid; border-color:#dee2e6; padding: 7px 15px; text-align: left;}
</style>
<body>
<p>계정 사용자가 현재 사용한 권한......</p>
<p>모비스 mail 사용 여부 : #mail</p>
<p>모비스 teams 사용 여부 : #teams</p>
<table style="font-size: 12px; border: 1px solid; border-collapse: collapse; width: 1200px">
	<thead style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; background-color: #146ac7; color: white;text-align: center; font-weight:border;">
		<tr>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템명</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템 담당자</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">권한부여일</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">사용가능여부</td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
</body>
</html>