<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<style>
th, td {border: 1px solid; border-color:#dee2e6; padding: 7px 15px; text-align: left;}
</style>
<body>
<p style="font-size: 12px;">
계정 생성이 완료되었습니다.<br/>
@ID 계정으로 사용할 수 있는 시스템은 아래와 같습니다.<br/><br/>

그 외 필요한 시스템이 있는 경우, 담당 임직원을 통해 신청하시기 바랍니다.<br/>
(※ 임직원매뉴얼 공지사항 등록 완료)<br/><br/>

시스템 접속 및 패스워드 문의 : 각 시스템 담당자에게 문의
AD, IM, 원모비스 패스워드 문의 : IT지원(DT070710@mobis-partners.com)
</p>
<br/>
<p style="font-size: 12px;">
Account creation is complete.<br/>
The systems available for your account(@ID) are as follows.<br/><br/>

If you need other systems, please apply through the employee in charge.<br/>
(※ Registration of notie in the employee manual has been completed.)<br/><br/>

System access and password inquiry : Contact each system representative.
AD, IM, One Mobis password inquiry : IT support(DT070710@mobis-partners.com)
</p>
<br/>
<p>모비스 mail 사용 여부 : @mail</p>
<p>모비스 teams 사용 여부 : @teams</p>
<table style="font-size: 12px; border: 1px solid; border-collapse: collapse; width: 1200px">
	<thead style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; background-color: #146ac7; color: white;text-align: center; font-weight:border;">
		<tr>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템명</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">시스템 담당자</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">권한부여일</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left;">사용가능여부</td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<br><br>
</table>
<p style="font-size: 12px;">
기타 문의사항 있으시면 연락바랍니다.<br/>
감사합니다.<br/><br/>

If you have any other questions, please contact us.<br/>
thank you<br/>
</p>
</body>
</html>