<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<style>
th, td {border: 1px solid; border-color:#dee2e6; padding: 7px 15px; text-align: left;}
</style>
<body>
<p style="font-size: 12px;">
<br/>
@ID 계정으로 사용할 수 있는 시스템은 아래와 같습니다.<br/>
시스템 사용은 권한 부여일로부터 최대 1일 소요됩니다.
<br/><br/>

<b>1. 패스워드 관련 문의처</b><br/>
AD, IM, 원모비스 패스워드 문의 : IT지원(DT070710@mobis-partners.com)<br/>
그외 패스워드 문의 : 각 시스템 담당자에게 문의<br/>
<br/>
<b>2. 시스템 사용 관련 문의</b><br/>
모비스 메일/팀즈 사용 신청 문의 : 계정 신청 시 입력한 담당 모비스 임직원만 신청 가능 (IM 시스템 내 공지사항 참고)<br/>
그 외 필요한 시스템이 있는 경우, 담당 임직원을 통해 신청하시기 바랍니다.<br/>
(시스템 신청 프로세스 : 모비스임직원 신청 -> 모비스 팀장 승인 -> 해당 시스템 담당자 승인)<br/>
<br/> 
이 메일은 발신전용 메일로 응답할수 없습니다.<br/>
시스템 사용 관련 문의는 아래 담당자에게 직접 연락하시기 바랍니다.<br/>
<br/>
</p>
<p style="font-size: 12px;">
Systems that can be used with an @ID account are as follows.<br/>
System use will take up to 1 day from the date of authorization.
<br/><br/>

<b>1. Password-related inquiries</b><br/>
AD, IM, One Mobis password inquiries: IT support (DT070710@mobis-partners.com)<br/>
Other password inquiries: Ask the person in charge of each system<br/>
<br/>
<b>2. Inquiries about using the system</b><br/>
Mobis Mail/Teams Application Inquiries: Only the Mobis employee in charge who entered the account when applying for an account can apply (refer to the notice in the IM system)<br/>
If there are other necessary systems, please apply through the Mobis employee in charge.<br/>
(System application process: Mobis employee application -> Mobis team leader approval -> system manager approval)<br/>
<br/>
This mail cannot be responded to as an outgoing mail.<br/>
For inquiries about using the system, please contact the person in charge below.<br/>
</p>

<table style="font-size: 12px; border: 1px solid; border-collapse: collapse; width: 1100px">
	<thead style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; background-color: #146ac7; color: white;text-align: center; font-weight:border;">
		<tr>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; width:60px;">시스템<br>SYSTEM</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; width:200px;">시스템명<br>NAME</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; width:480px;">시스템 담당자<br>MANAGER</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; width:150px;">권한부여일<br>DATE OF AUTHORIZATION</td>
			<td style="border: 1px solid; border-color:#dee2e6; padding: 5px 12px; text-align: left; width:120px;">사용가능여부<br>AVAILABILITY</td>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<br><br>
</table>
<br/><br/>
</body>
</html>