<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSysMst">
	<select id="getUserAuthListByUserId" parameterType="String" resultType="java.util.HashMap">
		SELECT user_id, sys_code, status, update_dt, create_dt, prov_dt, flag, sync_dt, sync_ip
		FROM wfuser.user_sys_mst_sync
		WHERE user_id=#{user_id} AND status='3'
		UNION
		SELECT user_id, sys_code, status, update_dt, create_dt, prov_dt, flag, sync_dt, sync_ip
		FROM wfuser.user_sys_mst_ex
		WHERE user_id=#{user_id} AND status='3'
	</select>
	<select id="getAllAuthManager" resultType="com.mobis.im.vo.AdminUserAuthVO">
		SELECT auth.sys_code, auth.sys_name, auth.user_id, im.name, im.email
		FROM admin_user_auth AS auth
		LEFT OUTER JOIN 
		(SELECT user_id, name, email FROM mobis_im_user WHERE status='3') AS im
		ON auth.user_id = im.user_id
	</select>
</mapper>